<div style="display: flex; justify-content: center; padding: 10px; background-color: beige">
  <p style="padding: 15px; cursor: pointer; color: blue; text-decoration: underline" [routerLink]="['/no']">No Encapsulation</p>
  <p style="padding: 15px; cursor: pointer; color: blue; text-decoration: underline" [routerLink]="['/emulated']">Emulated Encapsulation</p>
  <p style="padding: 15px; cursor: pointer; color: blue; text-decoration: underline" [routerLink]="['/shadowDom']">Shadow Dom Encapsulation</p>
  <p style="padding: 15px; cursor: pointer; color: blue; text-decoration: underline" [routerLink]="['/all']">All Encapsulation</p>
</div>
